
// *********************** header_middle ***********************
.header_middle{
    background-color: #00B3CE;
    padding-top: 32px;
    position: relative;
}
.header_middle-right{
    width: 100%;
}
.header_middle-span1{
    display: block;
    font-family: "MyriadPro-Cond";
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.header_middle-span2{
    display: block;
    font-family: "MyriadPro-Cond";
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.header_middle-span3{
    display: block;
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 18px;
    color: #fff;
    text-align: justify;
    margin: 30px 0px;
    padding: 0px 15px;

}
.header_middle-span3__programs{
    font-family: "MyriadPro-Regular";
}
.header_middle-women{
    width: 100%;
    height: auto;
}
// *********************** header_middle ***********************

// *********************** programs.php ***********************
.program-cell{
    width: 100%;
    background-color: #CC7CA7;
    height: 500px;
    text-align: center;
}
.program-cell1{
    width: 100%;
    background-color: #B4D078;
}
.program-cell2{
    width: 100%;
    background-color: #FFCB5C;
}
.program_item{
    background-color: #CC7CA7;
    max-width: 270px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
}
.program_item1{
    background-color: #B4D078;
}
.program_item2{
    background-color: #FFCB5C;
}
.program_item__imgtop{
    display: block;
    margin: 0px auto;
}
.program_item__title{
    font-family: "MyriadPro-LightCond";
    font-size: 36px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}
.program_item__subtitle{
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}
.program_item__text{
    font-family: "MyriadPro-Regular";
    font-size: 15.98px;
    color: #fff;
    margin-bottom: 10px;
}
.program_item__girl{

}
.program_item__girl-img{
    width: 120px;
    height: 224px;
}
.program_item__girl-img1{
    width: 230px;
    height: 231px;
}
.program_item__girl-img2{
    width: 150px;
    height: 218px;
}
.program_item-link{
    display: block;
    position: absolute;
    font-family: "MyriadPro-Regular";
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #003D58;
    text-align: center;
}
.program_item-link-icon{
    display: inline-block;
    color: #fff;
    padding-left: 3px;
}
// *********************** ac-additional-block ***********************
.ac-additional-block{
    padding-top: 50px;
}
.ac-additional-borderbox{
    max-width: 455px;
    text-align: center;
    margin: 0 auto;
}
.ac-borderbox-span{
    display: block;
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 24px;
    margin-top: 26px;
}
.ac-list__item{
    display: inline-block;
    padding: 20px 25px 7px 25px;
    font-family: "MyriadWebPro-Condensed";
    font-size: 24px;
    color: #7CC5CF;
    margin-top: 15px;
    cursor: pointer;
}
.ac-list__item:hover{
    background-color: #E6F3F5;
}
.ac-list__item-active{
    background-color: #fff;
}
.ac-row-block{
    background-color: #E6F3F5;
}
.ac-circle-left{
    display: none;
}
.ac-circle-right{
    display: none;
}
.ac-row-block2{
    padding: 40px 0px;
    text-align: center;
}
.ac-row_span{
    display: block;
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 18px;
    margin-bottom: 18px;
}
.ac-row_link{
    display: inline-block;
    width: 210px;
    height: 60px;
    padding: 10px 0px;
    border: 1px solid #7CC5CF;
    margin-top: 15px;
    margin-right: 10px;
    font-family: "MyriadPro-Regular";
    font-size: 14px;
    text-align: center;
    color: #808586;
}
.ac-row_link:hover{
    background-color: #14b2cc;
    color: #fff;
}
//***********************************************
.ac-block1{
    padding-top: 10px;
}
.program_item-pinklink{
    display: inline-block;
    font-family: "MyriadPro-Regular";
    font-size: 24.5px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 60px;
    width: 250px;
    height: 60px;
    background-color: #CB7CA6;
}
.header_middle-span4__programs{
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    display: block;
    color: #515455;
    text-align: center;
    margin-top: 43px;
}
.ac-block2{
    padding: 45px 0px 50px 0px;
    text-align: center;
}
.ac-span{
    margin-bottom: 30px;
}
.ac-list__item-products{
    display: inline-block;
    padding: 15px 10px;
    max-width: 215px;
    font-family: "MyriadPro-Cond";
    font-size: 21px;
    color: #fff;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}
.ac-list__item-products:hover{
    background-color: #fff;
    color: #000;
}
.ac-list__item-products-active{
    background-color: #fff;
}
.span-option-row{
    text-align: center;
}
.span-option-cell{
    border: 1px solid #f3f5f7;
    margin-top: 38px;
    padding: 84px 0px 75px 0px;
}
.span-option{
    margin-top: 84px;
}
.products-span1{
    display: block;
    font-family: "MyriadPro-Regular";
    font-size: 14px;
    color: #8b8b8b;
    margin-top: 12px;
}
.products-img1{
    display: inline-block;
    margin-bottom: 34px;
}
.products-span2{
    display: inline-block;
    text-align: center;
    font-family: "MyriadPro-Regular";
    font-size: 12px;
    color: #8b8b8b;
    margin: 20px;

}


// *********************** ac-additional-block ***********************

// *********************** programs.php ***********************

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .header_middle-span1{
        margin-top: 107px;
    }
    .header_middle-span2{
        margin-top: 10px;

    }
    .header_middle-span3{
        margin-top: 10px;

    }
    .program_item-link{
        font-size: 24.5px;
        padding: 15px 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .header_middle-span3{
        text-align: center;
        padding: 0px;

    }
    .program-cell{
        float: left;
        width: 33.3%;
    }
    .program-cell1{
        width: 33.3%;
    }
    .program-cell2{
        width: 33.3%;
    }
    .header_middle-women{
        width: 352px;
        height: 556px;
    }
    .header_middle-women__programs{
        width: 232px;
        height: 343px;
        margin: 76px 0px 0px 45px;
    }
    .header_middle-span1{
        font-size: 99.74px;
        margin-top: 107px;
    }
    .header_middle-span1__programs{
        font-size: 72.14px;
        text-align: left;
        margin-top: 117px;
    }
    .header_middle-span1__products{
        font-size: 72.14px;
        text-align: left;
        margin-top: 63px;
    }
    .header_middle-span2{
        font-size: 81.12px;
        margin-top: 47px;
    }
    .header_middle-span3{
        font-size: 24px;
        margin-top: 34px;
    }
    .header_middle-span3__programs{
        font-size: 18px;
        text-align: left;
        margin: 45px 0px 95px 0px;
    }
    .header_middle-span3__products{
        font-family: "MyriadPro-Regular";
        font-size: 18px;
        text-align: left;
        margin: 30px 0px 30px 0px;
    }
    .program_item-link{
        font-size: 24.5px;
        padding: 25px 40px 22px 29px;
    }
    .program_item-link-icon{
        padding-left: 10px;
    }
    .ac-list__item-active{
        background-color: #E6F3F5;
    }
    .ac-list__item-active-products{
        background-color: #fff;
        color: #000;
    }
    .ac-circle-left{
        display: inline-block;
        padding-top: 140px;
        padding-left: 100px;
    }
    .ac-circle-right{
        display: inline-block;
        padding-top: 140px;
        padding-left: 25px;
    }
    .ac-row_link{
        width: 360px;
        height: 55px;
        padding: 18px 0px;
    }
    .ac-row_link:hover{
        background: #14b2cc url(../img/true-circle.png) 20px 19px no-repeat;
    }
    .program_item-pinklink{
        width: 335px;
        height: 83px;
        line-height: 83px;
    }
    .header_middle-women__products{
        width: 439px;
        height: 386px;
        margin-top: 56px;
        // margin: 56px 0px 0px 45px;
    }
    .ac-list-products{
        margin-top: -104px;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}