
// ******************************* Delo22-03 *******************************

// ******************** top ********************
.d2203-delo{
    background: url(../img/delo2203-topimg.jpg) top center no-repeat;
    padding: 50px;
    min-height: 297px;
    background-size: cover;
}
.d2203-span1{
    display: block;
    font-family: "LetoSansCondensed-Thin";
    font-size: 38.44px;
    margin-bottom: 26px;
    color: #CCCDCD;
}
.d2203-span2{
    display: block;
    font-family: "LetoSans-Bold";
    font-size: 60.01px;
    line-height: 70.01px;
    color: #fff;
}
.d2203-right{
    padding-top: 130px;
    text-align: center;
}
.d2203-span3{
    display: block;
    font-family: "LetoSansCondensed-Thin";
    font-size: 13.74px;
    color: #fff;
    margin-bottom: 8px;
}
// ******************** top ********************

// ******************** топ юристов ********************
.d2203-top-urist__list {
    width: 100%; 
    padding: 12px;
    background: #c5c6c6;
    font-family: "LetoSansCondensed";
    margin: 0 auto;

}
.d2203-top-urist__item {
    display: block;
    width: 100%;
    max-height: 37px;
    background: #fff;
    border: 1px solid #f4f4f4;
    margin-bottom: 12px;
}
.d2203-top-urist__item:hover{
    background: #e2e3e3;
}
.d2203-top-urist__item_number{
    width: 45px;
    color: #c60006;
    float: left;
    line-height: 37px;
    text-align: center;
    font-size: 24px;
    font-family: "LetoSans";
}
.d2203-top-urist__item_imgbox {
    float: left;
    position: relative;
}
.d2203-top-urist__item_img {
    position: absolute;
    top: -5px;
    border-radius: 10em;
    width: 45px;
    height: 45px;
}
.d2203-top-urist__item_center{
    float: left;
    margin-left: 55px;
    line-height: 37px;
}
.d2203-top-urist__item_name{
    font-size: 14px;
    color: #000;
}
.d2203-top-urist__item_dol{
    color: #666666;
    font-size: 14px;
}
.d2203-top-urist__item_right {
    width: 45px;
    height: 100%;
    line-height: 37px;
    min-height: 100%;
    border-left: 1px solid #c5c6c6;
    float: right;
    text-align: center;
    vertical-align: middle;
    background: url(../img/square-bg.png) repeat-x center;
    img{
        display: inline-block;
        margin-top: 8px;
    }
}
.d2203-link{
    display: inline-block;
    background: url(../img/arrow-right.png) right no-repeat;
    padding-right: 13px;
    font-family: "LetoSansCondensed";
    font-size: 15.75px;
    line-height: 16.71px;
    margin-top: 17px;
}
// ******************** топ юристов ********************

// ******************** топ ВЫИГРАННЫХ дел ********************
.d2203-delo-box{
    margin-top: 15px;
    background-color: #FAFAFA;
    border: 1px solid #E6E6E6;
}
.d2203-img{
    display: block;
    width: 100%;
    height: auto;
}
.d2203-date{
    color: #000;
    text-align: right;  
    font-size: 13px;
    margin: 3px 0;
    font-family: "LetoSans-Thin";
}
.d2203-osveshenie-header{
    font-family: LetoSans;
    color: #c60006;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}
.d2203-osveshenie-par{
    font-family: "LetoSansCondensed-Thin";
    font-size: 13px;
    color: #666666;
}
.d2203-osveshenie-arrow{
    display: inline-block;
    background: url(../i/more-arrow.png) no-repeat;
    height: 10px;
    width: 7px;
}
// ******************** топ ВЫИГРАННЫХ дел ********************

// ******************** Левая сторона ********************
.d2203-left-box-title{
    font-family: LetoSans;
    color: #c60006;
    text-transform: uppercase;
    font-size: 14px;
    margin: 39px 0px 17px 0px;
}
.d2203-left-box-title:first-child{
    margin-top: 55px;
}
.d2203-twocolumns-text{
    font-family: "LetoSansCondensed-Thin";
    font-size: 12.5px;

}
.d2203-border-class {
    border: 1px solid #e3e3e3;
    padding-top: 53px;
}
.d2203-eye-arrow-star__blue{
    display: block;
    color: #001C90;
    font-family: LetoSansCondensed;
    font-size: 13.54px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 2px;
    text-transform: lowercase;
}
.d2203-eye-arrow-star__red{
    display: block;
    color: #C90B13;
    font-family: LetoSansCondensed;
    font-size: 13.54px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 5px;
    text-transform: lowercase;
}
.d2203-par-and-link__par{
    display: block;
    font-family: "LetoSans-Thin";
    font-size: 11.25px;
    color: #111111;
    text-align: center;
    margin-bottom: 10px;
}
.d2203-par-and-link__par1{
    display: block;
    font-family: "LetoSansCondensed-Thin";
    font-size: 14.75px;
    color: #111111;
    text-align: center;
    margin-bottom: 10px;
}
.d2203-my-urist__item{
    width: 100%;
    background: #fff;
    border: 1px solid #f4f4f4;
    text-align: center;
    margin-top: 64px;
}
.d2203-my-urist__item:hover{
    background: #e2e3e3;
}
.d2203-my-urist__item_img{
    border-radius: 10em;
    width: 45px;
    height: 45px;
}
.d2203-my-urist__item_center{
    display: block;
}
.d2203-my-urist__item_name{
    display: block;
    font-size: 13.74px;
    color: #000;
}
.d2203-my-urist__item_dol{
    display: block;
    color: #666666;
    font-size: 13.74px;
}
.d2203-masseguristu{
    width: 100%;
    padding-top: 15px;
    text-align: center;
}
.d2203-masseguristu-link{
    display: inline-block;
    background: url(../img/massuristu.jpg) right center no-repeat;
    padding-right: 45px;
    font-family: "LetoSansCondensed";
    font-size: 13.54px;
    color: #C90B13;
    text-align: right;
}
.d2203-soc-buttons{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 34px;
}
.d2203-soc-list{
    display: block;
    text-align: center;
}
.d2203-soc-list__item{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.d2203-soc-list__item:last-child{
    margin-right: 0px;
}
.d2203-sort-block{
    width: 100%;
    text-align: center;
    margin-top: 51px;
}
.d2203-sort-block__select-box{
    display: inline-block;
    padding: 0 20px;
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 130px;
        height: 20px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #CCCCCC;
        color: #000;
        font-size: 10px;
        text-align: left;
    }
}
.d2203-docimg{
    width: 100%;
    text-align: center;
    padding: 0 36px;
    margin: 34px 0px;
}
.d2203-docimg-link{
    display: block;
    margin-top: 13px;
}
.d2203-button3box{
    display: block;
    margin-top: 12px;
}
// ******************** Левая сторона ********************

// ******************** offers ********************
.d2203-offers{
    padding-top: 74px;
    margin-bottom: 37px;
}
.d2203-commit-h2{
    font-family: "LetoSans-Bold";
    font-size: 22.32px;
    color: #000;
}
.d2203-page-list__item{
    display: inline-block;
    margin-top: 10px;
}
.d2203-page-list-left{
    background-color: #CCCCCC;
    padding-top: 5px;
    text-align: center;
}
.d2203-page-list-outbox{
    width: 97px;
    height: 97px;
    background-color: #CCCCCC;
    border: 1px solid #B2B2B2;
    border-radius: 45px;
    margin: 0 auto;
}
.d2203-page-list-box{
    display: table;
    position: relative;
    width: 93px;
    height: 94px;
    background-color: #fff;
    border: 3px solid #CCCCCC;
    border-radius: 43px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 1px;
}
.d2203-page-list-imgbox{
    width: 86px;
    height: 86px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
}
.d2203-page-list-box-img{
    display: inline-block;
    border-radius: 43px;
}
.d2203-page-list-star{
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -25px;
    background: url(../img/icon-star.png) no-repeat;
    width: 22px;
    height: 22px;
    cursor: pointer; 
}
.d2203-page-list-ihat{
    display: inline-block;
    position: absolute;
    top: 75px;
    left: -25px;
    background: url(../img/hat.png) no-repeat;
    width: 28px;
    height: 17px;
    cursor: pointer; 
}
.d2203-page-list-imessage{
    display: inline-block;
    position: absolute;
    top: 75px;
    left: -25px;
    background: url(../img/message.png) no-repeat;
    width: 20px;
    height: 21px;
    cursor: pointer; 
}
.d2203-page-list-star:hover{
    background: url(../img/icon-star-red.png) no-repeat;
}
.d2203-icon-usename{
    font-family: "LetoSansCondensed";
    font-size: 11px;
    color: #000;
    line-height: 11.42px;
}
.d2203-icon-span{
    font-family: "LetoSansCondensed-Thin";
    font-size: 9px;
    color: #000;
    line-height: 11.42px;
}
.middle-line{
    background-color: red;
    width: 2px;
    height: 8px;
}
.d2203-list__item{
    display: inline-block;
}
.d2203-icon-arrow{
    display: inline-block;
    background: url(../img/icon-arrow.png) no-repeat;
    width: 26px;
    height: 25px;
    line-height: 12px;
    cursor: pointer;
}
.d2203-page-list-right{
    background-color: #FAFAFA;
}
.d2203-icon-star{
    display: inline-block;
    background: url(../img/icon-star-gray.png) no-repeat;
    width: 26px;
    height: 25px;
    line-height: 12px;
    cursor: pointer;
}
.d2203-icon-star:hover{
    background: url(../img/icon-star-red.png) no-repeat; 
}
.d2203-star-arrow{
    display: block;
    text-align: right;
    margin-top: 10px;
}
.d2203-list-text{
    font-family: "LetoSansCondensed-Thin";
    font-size: 13.2px;
}

// ******************** offers ********************

// ******************** bottom ********************
.no-gutter > [class*='col-']{
    padding-right:0;
    padding-left:0;
}
.d2203-twocolumns-text{
    display: inline-block;
    position: relative;
    padding-right: 35px;
}
.d2203-twocolumns-text-link{
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 28px;
    right: 15px;
    bottom: 0px;
    background: url(../img/dubl-arrow-right.png) center center no-repeat;
}
.d2203-bottom-title{
    font-family: LetoSans;
    color: #c60006;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px 0px 13px 0px;
}
.bottom-border{
    border: 1px solid #E8E8E8;
}
.bottom_urist{
    margin-top: 0px;
}


// ******************** bottom ********************

// ******************************* Delo22-03 *******************************




/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}